// Colors
$background: linear-gradient(to bottom, #fff 0%, #fff 300px, #e6e9f5 300px);

$color-primary: #5135a7;
$color-secondary: #1543e3;
$color-secondary-dark: #374d98;
$color-default-light: #bfc6d9;
$color-default: #3d485a;
$color-error: #ee6c34;
$color-highlight: #64dbdd;

// Fonts

$icon-chevron-right: "\e902";
$icon-check: "\e900";
$icon-alert: "\e901";
$icon-arrow-left: "\ea40";

// Media queries

$breakpoint-md: "768px"