// Colors
$background: linear-gradient(to bottom, #fff 0%, #fff 300px, #e6e9f5 300px);

$btn-status0: #F99581;
$btn-status1: #96BDC6;
$btn-status2: #79B473;
$btn-status3: #DDC3D0;

// Fonts

$icon-chevron-right: "\e902";
$icon-check: "\e900";
$icon-alert: "\e901";
$icon-arrow-left: "\ea40";

// Media queries

$breakpoint-md: "768px"