@import 'reset';
// @import 'fonts';

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3f4a5b;
  scroll-behavior: smooth;
}